.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .text-curve {
    position: absolute;
    left: 4%;
    top: 40%;
    width: 320px;
    height: 450px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 40px;
    color: #fff;
    text-align: left;
  }
  
  .flavor {
    color: #dadada;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
  }
  
  .title {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
    position: relative;
    display: inline-block;
  }
  
  .title::after {
    content: "";
    position: absolute;
    left: 24%;
    bottom: -8px;
    transform: translateX(-50%);
    width: 180px;
    height: 6px;
    border-bottom: 3px solid #dddddd; 
    border-radius: 50%;
  }
  
  
  .desc {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #f1eaff;
    opacity: 0.9;
    line-height: 1.4;
    z-index: 999;
  }
  
  .icecream {
    width: 500px;
    z-index: 2;
    position: relative;
  }
  
  .blueberry {
    position: absolute;
    width: 180px;
    height: auto;
    z-index: 1;
  }
  
  .berry1 { top: 10%; left: 20%; }
  .berry2 { top: 25%; right: 18%; }
  .berry3 { bottom: 20%; left: 25%; }
  .berry4 { bottom: 15%; right: 25%; }
  .berry5 { top: 55%; left: 5%; }
  .nav-arrows {
    position: absolute;
    bottom: 55%;
    display: flex;
    gap: 60px;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    background: transparent;
  }
  
  .arrow {
    font-size: 3rem;
    color: #fff;
    background: transparent;
    box-shadow: none;
    cursor: pointer;
    border: none;
    position: absolute;

    transition: transform 0.3s ease;
  }
  .arrow.left{
   
    position: absolute;
    left: 5%;
  }
  .arrow.right{
    position: absolute;
    right: 5%;
  }
  .arrow:hover {
    transform: scale(1.2);
  }
  
  .fruit {
    position: absolute;
    width: 200px;
    height: auto;
    z-index: 1;
  }
  
  .fruit1 { top: 10%; left: 20%; }
  .fruit2 { top: 25%; right: 18%; }
  .fruit3 { bottom: 10%; left: 25%; }
  .fruit4 { bottom: 15%; right: 25%; }
  